body{
    background-color: #141414;
}

.postContainer{
    width:50%;
    margin:2rem auto;
    display: flex;
    flex-direction: column;
    gap:3rem;
}

.post>a,.post>p{
    display: block;
    margin-bottom:1rem;
    color:var(--light)
}

.postTitle{
    font-size:20px;
    font-weight:700;
}

.postTitle:hover{
    text-decoration:underline;
}

.post>.postReadMore{
    font-size: 15px;
    font-weight: 600;
    color:rgb(7, 137, 224);
}

@media only screen and (max-width:700px){
    .searchContainer{
        width:100%;
    }

    .postContainer{
        width:80%;
    }

    #loginBtn{
        display:none;
    }

}