::placeholder{
    color:var(--light)
}

header{
    justify-content: space-between;
}

.editor{
    width:80%;
    margin:2rem auto;
}

.editor form{
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.editorControls{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.editorControls svg{
    height: 20px;
    width:20px;
    cursor: pointer;
    padding:10px;
    border-radius: 5px;
}

.editorControls svg:hover{
    background-color: #333333;
}

.editor form input{
    color:var(--light);
    padding:20px;
    font-size: 16px;
    font-weight: 600;
    border:0;
    background-color: transparent;
}

/*.editor form textarea{
    color:var(--light);
    padding:20px;
    font-size: 14px;
    font-weight: 400;
    border:1px solid var(--light);
    border-radius: 5px;
    background-color: transparent;
}*/


.editor form button{
    width:fit-content;
    background-color: transparent;
}