

body{
    background:url("../images/Jungle.jpg") center;
    backdrop-filter: brightness(50%);
    background-size: cover;
    background-repeat: no-repeat;
}

.introSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:7rem 0;
}

.introText{
    width:30%;
    display: flex;
    flex-direction: column;
}

.introText p{
    color:var(--light);
    font-weight:600;
    margin:15px 0;
}

.introText h1{
    color:var(--light);
    font-size: 40px;
}

.imgSection{
    width:20%;
}

.imgSection img{
    width:100%;
    border-radius:50%;
}

.aboutSection{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:5rem 0;
    background-color: var(--dark);
}

.aboutSection h2{
    color:var(--light);
    font-size: 25px;
    margin-bottom:2rem;
}

.aboutSection>div{
    width:35%;
}

.about p{
    color:var(--light);
    font-size:15px;
    font-weight: 500;
    margin-bottom:3rem;
}

.skills div{
    display:flex;
    flex-wrap: wrap;
}

.skills div p{
    padding:10px;
    font-size: 15px;
    font-weight: 600;
    background-color: var(--light);
    border-radius: 5px;
    color:var(--dark);
    margin:12px 12px 0 0;
}

.projectsSection{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    color:var(--light);
    padding:5rem 0;
}

.projectsSection h1{
    font-size:25px;
    margin:4rem auto;
}

.projects{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projects div{
    display: flex;
    flex-direction: column;
    gap:2rem;
    width:35%;
}

.project p{
    font-size: 15px;
    font-weight: 500;
}

.project a{
    width:fit-content;
}

.contactSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    padding:5rem 0;
    background-color: var(--dark);
}

.contactSection h1{
    color: var(--light);
}

.contactSection>p{
    width:40%;
    text-align: center;
    font-size: 14px;
    color: var(--light);
}

@media only screen and (max-width:700px){
    header{
        padding:0 2rem;
        justify-content: flex-end;
    }

    .navigation{
        display: none;
    }

    #loginBtn{
        display:none;
    }

    .menu{
        display: flex;
    }

    .introSection{
        margin-top:1rem;
        flex-direction: column-reverse;
        align-items: center;
    }

    .introText{
        width:80%;
        text-align: center;
    }

    .imgSection{
        width:60%;
    }

    .imgSection img{
        width:100%;
    }

    .aboutSection{
        gap:4rem;
    }

    .aboutSection div{
        width:80%;
    }

    .projects{
        gap:4rem;
    }

    .projects div{
        width:80%;
    }

    .contactSection p{
        width:80%;
    }
}

@media only screen and (min-width:700px){
    .menu{
        display: none;
    }

    header{
        left:-800px;
    }
}