.emptyMessage{
    color:white;
    font-size: 13px;
    margin:2rem auto;
    color:var(--light)
}

.message{
    position:relative;
    padding:1rem 1rem;
    border-radius: 5px;
}

.message:hover{
    background-color: #252525;
    cursor: pointer;
}

.messageTopContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.messageData{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.messageData p{
    color:var(--light);
    font-size: 13px;
    font-weight: 600;
}

.senderEmail{
    color:var(--light);
    margin:10px 0;
    font-size: 13px;
}

.senderEmail span{
    font-weight: 600;
}

.messageOptions{
    top:55px;
    right:15px;
}

.messageContent{
    font-size: 13px;
    color:var(--light)
}



@media only screen  and (max-width:700px){

}