.notification{
    position:relative;
    display: flex;
    align-items: center;
    padding:1rem 1rem;
    margin:1rem 0;
    background-color: var(--dark);
    border-radius: 5px;
}

.notificationContent{
    color:var(--light);
    font-size: 15px;
    width:50%;
}

.notificationSideContainer{
    display: flex;
    align-items: center;
    width:50%;
    justify-content: space-between;
}

.notificationTime{
    font-size:13px;
    font-weight: 600;
    color:var(--light)
}

.notificationOptions{
    position:absolute;
    top:55px;
    right:15px;
}

@media (max-width:700px){
    .notification{
        flex-direction: column;
    }

    .notificationContent{
        width:100%;
    }

    .notificationSideContainer{
        width:100%;
    }

    .notificationOptions{
        top:95px;
    }
}