body{
    background-color: #141414;
}

.postContainer img{
    width:100%;
}

.postContainer{
    display:flex;
    flex-direction: column;
    gap:2rem;
    width:50%;
    margin:2rem auto;
    color:var(--light)
}

.postDate{
    font-size: 13px;
    font-weight: 600;
}

.commentSection{
    width:50%;
    margin:2rem auto;
    color:var(--light)
}

.commentContainer>p{
    font-size: 14px;
    font-weight: 500;
}

.commentForm{
    display: flex;
    flex-direction: column;
    gap:1rem;
    margin:2rem 0;
}

.commentForm textarea{
    padding:10px;
    border:0;
    border-radius: 5px;
}

.commentForm button{
    width:fit-content;
    background-color: transparent;
}

.comment{
    font-size: 14px;
    font-weight: 500;
    padding:20px;
    margin:1rem 0;
    border-radius: 5px;
    position: relative;
}

.comment:hover{
    background-color: var(--dark);
}

.commentTopBar{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.commentInfo{
    display:flex;
    align-items: center;
    gap:1rem;
}

.commentDateTime{
    font-size: 13px;
}

.profile{
    display: flex;
    align-items: center;
}

.commentOptions{
    top:63px;
    right:20px;
}

.comment>p{
    margin:1rem 0;
}

.comment>div.stats{
    gap:2rem;
    justify-content: flex-start;
}

@media only screen and (max-width:700px){
    .postContainer{
        width:80%;
    }

    .postContainer h1{
        font-size: 22px;
    }

    .commentSection{
        width:80%;
    }
}