.emptyMessage{
    color:white;
    font-size: 13px;
    margin:2rem auto;
    color:var(--light)
}

.post{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding:1rem 1rem;
    border-radius: 5px;
    margin: 1rem 0;
}

.postData{
    width:50%;
    color:var(--light)
}

.postData .postTitle{
    display: block;
    font-size:16px;
    font-weight: 600;
    margin-bottom: 1rem;
    color:var(--light)
}

.postData .postTitle:hover{
    text-decoration: underline;
}

.postData{
   font-size: 14px; 
}

.postDate{
    font-size: 12px;
}

.postSideContainer{
    width:40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.interactions{
    color:var(--light);
    display:flex;
    align-items: center;
    gap:20px;
}

.interactions div{
    display: flex;
    align-items: center;
    gap:2px;
    font-size:14px;
}

.moreOptionsBtn{
    padding:5px;
    font-size: 25px;
    border-radius:5px;
    color:var(--light)
}

.moreOptionsBtn:hover{
    background-color: #333333;
}

.postOptions{
    top:55px;
    right:15px;
}

.post:hover{
    background-color: #252525;
    cursor: pointer;
}

.newPost{
    position:sticky;
    width:fit-content;
    margin:2rem 0;
    background-color: var(--dark);
    bottom:2rem;
}

@media (max-width:700px){
    .postData{
        width:100%;
    }
    .postSideContainer{
        width:100%;
    }
    .postOptions{
        top:130px;
    }
    .post{
        flex-direction: column;
    }
}