.users{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;
}


.user{
    padding:1rem 1rem;
    border-radius: 5px;
}

.userData{
    display: flex;
    justify-content: space-around;
}

.user:hover{
    background-color: var(--dark);
}

.userData>img{
    height:fit-content;
}

.userInfo div{
    display: flex;
    margin:10px 0;
}

.userInfo div p{
    color:var(--light);
    font-size:13px;
}

.userInfo div p:first-child{
    margin:0 10px;
    font-weight:600;
}

.actionButtons{
    display:flex;
    justify-content: space-evenly;
    margin:1rem 0;
}

.actionButtons a{
    padding:10px;
    color:var(--light);
    font-size:13px;
    font-weight: 500;
    border-radius:5px;
}

.changeRoleBtn{
    background-color: rgb(2, 82, 72);
}

.freezeBtn{
    background-color: rgb(0, 85, 113);
}

.deleteBtn{
    background-color: rgb(154, 0, 0);
}

@media (max-width:1020px){
    .users{
        grid-template-columns: 1fr;
    }
}