<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/dashboard.css" />
    <link rel="stylesheet" href="./css/notifications.css" />
  </head>
  <body>
    <div class="mobileHeader">
      <div class="backBtn">
        <i class="fa-solid fa-xmark"></i>
        <p>close</p>
      </div>
      <nav class="mobileNavigation">
        <ul>
          <li>
            <a class="nav-item" href="./index.html#aboutSection"
              >About
              <div></div
            ></a>
          </li>
          <li>
            <a class="nav-item" href="./index.html#projectsSection"
              >My Work
              <div></div
            ></a>
          </li>
          <li>
            <a class="nav-item" href="./blog.html"
              >Blog
              <div></div
            ></a>
          </li>
          <li>
            <a class="nav-item" href="./index.html#contactSection"
              >Contact Me
              <div></div
            ></a>
          </li>
        </ul>
      </nav>
      <div id="mobile-screen-profile" class="profileContainer">
        <div>
          <img src="./images/<%=user.profileImg>" alt="" />
          <p><%=user.name%></p>
        </div>
        <i class="fa-solid fa-chevron-down"></i>
      </div>
      <div class="mobileProfileOptions">
        <a href="./dashboard.html">Dashboard</a>
        <a href="./blog.html">Log out</a>
      </div>
    </div>
    <header>
      <nav class="navigation">
        <ul>
          <li>
            <a class="nav-item" href="./index.html#aboutSection"
              >About
              <div></div
            ></a>
          </li>
          <li>
            <a class="nav-item" href="./index.html#projectsSection"
              >My Work
              <div></div
            ></a>
          </li>
          <li>
            <a class="nav-item" href="./blog.html"
              >Blog
              <div></div
            ></a>
          </li>
          <li>
            <a class="nav-item" href="./index.html#contactSection"
              >Contact Me
              <div></div
            ></a>
          </li>
        </ul>
      </nav>
      <div class="menu">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="profileOptions">
        <a href="#">Dashboard</a>
        <a href="#">Logout</a>
      </div>
      <div id="wide-screen-profile" class="profileContainer">
        <div>
          <img src="./images/<%=user.profileImg>" alt="" />
          <p><%=user.name%></p>
        </div>
        <i class="fa-solid fa-chevron-down"></i>
      </div>
    </header>
    <main>
      <select class="mobileSectionContainer" name="dashpage" id="dashNavigation">
        <option value="Posts">Posts (14)</option>
        <option value="Messages">Messages (121)</option>
        <option value="Users">Users (234)</option>
        <option value="Notifications" selected>Notifications (121)</option>
        <option value="Account">Account</option>
      </select>
      <div class="sectionContainer">
        <a href="./dashboard.html">
          <div class="section">
            <p class="sectionName">Posts</p>
            <p class="sectionCount">121</p>
          </div>
        </a>
        <a href="./dashmessages.html">
          <div class="section">
            <p class="sectionName">Messages</p>
            <p class="sectionCount">142</p>
          </div>
        </a>
        <a href="./dashusers.html">
          <div class="section">
            <p class="sectionName">Users</p>
            <p class="sectionCount">123</p>
          </div>
        </a>
        <a href="./dashnotifications.html">
          <div class="section active">
            <p class="sectionName">Notifications</p>
            <p class="sectionCount">12</p>
          </div>
        </a>
        <a href="./dashaccount.html">
          <div class="section">
            <p class="sectionName">Account</p>
          </div>
        </a>
      </div>
      <div class="controlsContainer">
        <input type="text" class="searchContainer" placeholder="Search posts" />
        <div class="sortControls">
          <select name="posts" id="posts">
            <option value="recent">Most Recent</option>
            <option value="likes">Most Viewed</option>
            <option value="views">Most liked</option>
            <option value="comments">Most Comments</option>
          </select>
        </div>
      </div>
      <div class="mainContent">
        <div class="notifications">
            <div class="notification">
                <p class="notificationContent">A new user @jackthecoder has joined the blog</p>
                <div class="notificationSideContainer">
                    <p class="notificationTime">1:38PM</p>
                    <i class="fa-solid fa-ellipsis moreOptionsBtn"></i>
                    <div class="notificationOptions options">
                      <a href="#">Dismiss</a>
                    </div>
                </div>
            </div>
            <div class="notification">
                <p class="notificationContent">A new user @jackthecoder has joined the blog</p>
                <div class="notificationSideContainer">
                    <p class="notificationTime">1:38PM</p>
                    <i class="fa-solid fa-ellipsis moreOptionsBtn"></i>
                    <div class="notificationOptions options">
                      <a href="#">Dismiss</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </main>
  </body>
  <script
    src="https://kit.fontawesome.com/3f2aa35973.js"
    crossorigin="anonymous"
  ></script>
  <script src="./js/main.js"></script>
  <script src="./js/popups.js"></script>
  <script src="./js/navigation.js"></script>
</html>
